.dropdown-button {
    border: none;
    background-color: transparent;
    color: white;
}

.dropdown-menu {
    background-color: #39403b;
    left: auto;
    right: 0 !important;
    box-shadow: 1px 1px #232423, -0.1em 0 .1em #232423;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu>li>a:hover {
    color: white;
    background-color: #232423;
}

.btn-custom {
    background-color: transparent;
    color: white;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    color: white;
    outline: none !important;
}

/* My profile */
.avatar-icon-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    backface-visibility: hidden;
}

.avatar-icon-profile img:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.3;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.btn-close-profile-foto {
    color: white !important;
    font-size: 50px;
}

.profile-foto-detail {
    width: 500px;
    height: 500px;
}

.modal {
    height: 100% !important;
    overflow: hidden !important;
}

@media screen and (max-width: 700px) {
    .dropdown-button {
        background-color: transparent;
    }

    .profile-foto-detail {
        width: 350px;
        height: 350px;
    }
}
